.form_main {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 380px;
  height: 380px;
  background-color: rgb(209, 193, 255);
  transform: rotate(45deg);
  left: -195px;
  bottom: 160px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2.3em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 5px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 55px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 8px 0;
  color: black;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1.2em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 100%;
  font-weight: 500;
  margin: 10px;
}

#button:hover {
  transform: scale(0.9);
}

.forgotLink {
  z-index: 2;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}
