@import "tailwindcss";
@plugin "daisyui";

/* Font style */
body {
  font-family: "Inter", sans-serif;
  background: #F4F4F4;
}
/* Button style  */
/* From Uiverse.io by cssbuttons-io */
.button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 12px 26px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

.button:active {
  transform: scale(0.9);
}
